h1{
	background-color: rgba(236,29,0,1);
}

.images{
	display: block;
	margin: auto;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}

body{
	/*background-image: url("http://longwallpapers.com/Desktop-Wallpaper/marvel-wallpapers-hd-resolution-For-Desktop-Wallpaper.jpg");*/
	background-color: rgba(236,29,0,1);
}

.fbox{
	display: flex;
	flex: wrap;
	display: inline;
	transition: all 1s;
}

img{
	margin: 10px;
}
